<script type="text/javascript">
$(document).ready(function() {


   var $calendar = $('#calendar');
   var id = 10;

   $calendar.weekCalendar({
      timeslotsPerHour : 2,
	  defaultEventLength: 2,
	  dateFormat: "j M Y",
      allowCalEventOverlap : false,
      overlapEventsSeparate: false,
      firstDayOfWeek : 1,
	  newEventText: "New appointment",
      businessHours :{start: <%=pro.biz_hours_start%>, end: <%=pro.biz_hours_end%>, limitDisplay: true },
      daysToShow : 7,
	  buttonText: {
		today: "Today",
		lastWeek: "< Previous week",
		nextWeek: "Next week >"
	  },
      height : function($calendar) {
         return $(window).height() - $("h1").outerHeight() - 1;
      },
      eventRender : function(calEvent, $event) {
         if ((calEvent.end.getTime() < new Date().getTime()) || calEvent.readOnly) {
            $event.css("backgroundColor", "#aaa");
            $event.find(".wc-time").css({
               "backgroundColor" : "#999",
               "border" : "1px solid #888"
            });
         }
		
      },
      draggable : function(calEvent, $event) {
		 <% if @current_pro.nil?-%>
         return false;
		<%else -%>
         return ((calEvent.readOnly != true) && (calEvent.state != "confirmed"));
		<% end -%>
      },
      resizable : function(calEvent, $event) {
         // return calEvent.readOnly != true;
		return false;
      },
      eventNew : function(calEvent, $event) {
         if (calEvent.end.getTime() < new Date().getTime()) {
			$('#calendar').weekCalendar("removeUnsavedEvents"); 
			alert("Sorry, you can not book an appointment in the past");
			return false;
		 }
		 else {
			
	         var $dialogContent = $("#event_edit_container");
	         resetForm($dialogContent);
	         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
	         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
	         var titleField = $dialogContent.find("input[name='title']").val('<%=current_client.try(:name)%>');
	         var bodyField = $dialogContent.find("textarea[name='body']");
	         var clientField = $dialogContent.find("select[name='client_id']");
			
			if ($dialogContent.find("input[name='title']").is(":visible")) {
				//retrieve current client name
				$.get("<%=client_name_url%>", {"format": "json"}, function(data){
					$dialogContent.find("input[name='title']").val(data.name);
				}, "json");
			}

	         $dialogContent.dialog({
	            modal: true,
	            title: "New appointment",
	            close: function() {
	               $dialogContent.dialog("destroy");
	               $dialogContent.hide();
	               $('#calendar').weekCalendar("removeUnsavedEvents");
	            },
	            buttons: {
	               save : function() {
					  
	                  calEvent.start = new Date(startField.val());
	                  calEvent.end = new Date(endField.val());
	                  calEvent.title = titleField.val();
	                  calEvent.body = bodyField.val();
					  calEvent.client_id = clientField.val();
					  $.post("<%=practitioner_bookings_url(pro)%>", {"format": "json", "booking[name]": calEvent.title, "booking[client_id]": calEvent.client_id, "booking[comment]": calEvent.body, "booking[starts_at]": calEvent.start, "booking[ends_at]": calEvent.end}, function(data){
						if ((data.flash.error === undefined) || (data.flash.error === '')) {
							calEvent.id = data.booking.id;
							calEvent.title = data.booking.title;
		                  	$calendar.weekCalendar("removeUnsavedEvents");
		                  	$calendar.weekCalendar("updateEvent", calEvent);
		                  	$dialogContent.dialog("close");
							if (data.flash.notice != '') {
								$("div#flash").html("<div id='flash_notice'>"+data.flash.notice+"</div>").fadeIn(2000, function(){$(this).fadeOut(3000)});
							}
						}
						else {
							
						}
						}, "json");

	               },
	               cancel : function() {
	                  $dialogContent.dialog("close");
	               }
	            }
	         }).show();

	         $dialogContent.find("#date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
	         setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));
		  }
      },
      eventDrop : function(calEvent, $event) {
        
      },
      eventResize : function(calEvent, $event) {
      },
      eventClick : function(calEvent, $event) {
         if (calEvent.readOnly) {
            return;
         }

         var $dialogContent = $("#event_edit_container");
         resetForm($dialogContent);
         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
         var titleField = $dialogContent.find("input[name='title']").val(calEvent.title);
         var bodyField = $dialogContent.find("textarea[name='body']");
         var clientField = $dialogContent.find("select[name='client_id']").val(calEvent.client_id);
         bodyField.val(calEvent.body);

         $dialogContent.dialog({
            modal: true,
            title: "Edit - " + calEvent.title,
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').weekCalendar("removeUnsavedEvents");
            },
            buttons: {
               save : function() {
				  $(this).backgroundColor = "red";
                  calEvent.start = new Date(startField.val());
                  calEvent.end = new Date(endField.val());
                  if (titleField) {calEvent.title = titleField.val()} else {calEvent.title = ""};
                  calEvent.body = bodyField.val();
				  calEvent.client_id = clientField.val();
				  $.post("/practitioners/<%=pro.permalink%>/bookings/"+calEvent.id+".json", {"_method": "PUT", "format": "json", "booking[client_id]": client_id, "booking[name]": calEvent.title, "booking[comment]": calEvent.body, "booking[starts_at]": calEvent.start, "booking[ends_at]": calEvent.end}, function(data){
					if ((data.flash.error === undefined) || (data.flash.error === '')) {
						calEvent.id = data.booking.id;
						calEvent.title = data.booking.title;
		                $calendar.weekCalendar("updateEvent", calEvent);
		                $dialogContent.dialog("close");
						if (data.flash.notice != '') {
							$("div#flash").html("<div id='flash_notice'>"+data.flash.notice+"</div>").fadeIn(2000, function(){$(this).fadeOut(3000)});
						}
					}
					else {
						
					}
					}, "json");
               },
               "delete" : function() {
				  $.post("/practitioners/<%=pro.permalink%>/bookings/"+calEvent.id+".json", {"_method": "DELETE", "format": "json"}, function(data){
					if ((data.flash.error === undefined) || (data.flash.error === '')) {
	                  $calendar.weekCalendar("removeEvent", calEvent.id);
	                  $dialogContent.dialog("close");
						if (data.flash.notice != '') {
							$("div#flash").html("<div id='flash_notice'>"+data.flash.notice+"</div>").fadeIn(2000, function(){$(this).fadeOut(3000)});
						}
					}
					else {

					}
					}, "json");
               },
               cancel : function() {
                  $dialogContent.dialog("close");
               }
            }
         }).show();

         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
         $dialogContent.find("#date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
         setupStartAndEndTimeFields(startField, endField, calEvent, 	$calendar.weekCalendar("getTimeslotTimes", calEvent.start));
         $(window).resize().resize(); //fixes a bug in modal overlay size ??

      },
      eventMouseover : function(calEvent, $event) {
      },
      eventMouseout : function(calEvent, $event) {
      },
      noEvents : function() {

      },
      data : function(start, end, callback) {
		$.getJSON("/practitioners/<%=pro.permalink%>/bookings.json", 
		                  { 
		                     start: start.getTime()/1000, 
		                     end: end.getTime()/1000 
		                  }, 
		                  function(result) { 
		                     callback(result); 
		                  });
      }
   });

   function resetForm($dialogContent) {
      $dialogContent.find("input").val("");
      $dialogContent.find("select").val("");
      $dialogContent.find("textarea").val("");
   }

   /*
    * Sets up the start and end time fields in the calendar event
    * form for editing based on the calendar event being edited
    */
   function setupStartAndEndTimeFields($startTimeField, $endTimeField, calEvent, timeslotTimes) {

      for (var i = 0; i < timeslotTimes.length; i++) {
         var startTime = timeslotTimes[i].start;
         var endTime = timeslotTimes[i].end;
         var startSelected = "";
// console.log("startTime.getTime(): ", startTime.getTime());
// console.log(calEvent.title, ": ", calEvent.start, ", ", calEvent.start.getTime());
	// if (startTime.getTime() === calEvent.start.getTime()) {
	if (Math.round(startTime.getTime()/1000) === Math.round(calEvent.start.getTime()/1000)) {
// console.log("========= CLOSE enough");
            startSelected = "selected=\"selected\"";
         }
         var endSelected = "";
         if (Math.round(endTime.getTime()/1000) === Math.round(calEvent.end.getTime()/1000)) {
            endSelected = "selected=\"selected\"";
         }
         $startTimeField.append("<option value=\"" + startTime + "\" " + startSelected + ">" + timeslotTimes[i].startFormatted + "</option>");
         $endTimeField.append("<option value=\"" + endTime + "\" " + endSelected + ">" + timeslotTimes[i].endFormatted + "</option>");

      }
      $endTimeOptions = $endTimeField.find("option");
      $startTimeField.trigger("change");
   }

   var $endTimeField = $("select[name='end']");
   var $endTimeOptions = $endTimeField.find("option");

   //reduces the end time options to be only after the start time options.
   $("select[name='start']").change(function() {
      var startTime = $(this).find(":selected").val();
      var currentEndTime = $endTimeField.find("option:selected").val();
      $endTimeField.html(
            $endTimeOptions.filter(function() {
               return startTime < $(this).val();
            })
            );

      var endTimeSelected = false;
      $endTimeField.find("option").each(function() {
         if ($(this).val() === currentEndTime) {
            $(this).attr("selected", "selected");
            endTimeSelected = true;
            return false;
         }
      });

      if (!endTimeSelected) {
         //automatically select an end date 2 slots away.
         $endTimeField.find("option:eq(1)").attr("selected", "selected");
      }

   });


   var $about = $("#about");

   $("#about_button").click(function() {
      $about.dialog({
         title: "About this calendar demo",
         width: 600,
         close: function() {
            $about.dialog("destroy");
            $about.hide();
         },
         buttons: {
            close : function() {
               $about.dialog("close");
            }
         }
      }).show();
   });


});
</script><% title pro.calendar_title(current_pro)%>
<div id="calendar"></div>
<div id="event_edit_container"> 
	<form> 
		<input type="hidden" /> 
		<p id="date_holder"></p>
		<ul class="event-fields"> 
			<li> 
				<label for="start">Start time: </label><select name="start"><option value="">Select</option></select>
			</li> 
			<li> 
				<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select> 
			</li> 
			<li> 
				<% if own_calendar?(pro, current_pro)%>
				<label for="title">Client: </label><select name="client_id"><%= current_pro_client_options(current_pro)%></select>
				<%else%>
				<label for="title">Your name: </label><input type="text" name="title"></input>
				<%end%>
			</li> 
			<li> 
				<label for="body">Comment: </label><textarea name="body"></textarea> 
			</li> 
		</ul> 
	</form> 
</div>