<% use_calendar %>
<% if !@current_pro.nil? && @current_pro.test_user? -%>
<p><span id="test-user-marker"><%= t(:test_user)%></span> <span class="explanation_link" id="test_user_explanation_link" padding_height="14">[<%= t(:test_user_explanation_link)%>]</span></p>
<div id="test_user_explanation" class="explanation rounded"><%= t(:test_user_explanation)%><br/><span id="test_user_explanation_close" class="explanation_close"><%= t(:close_explanation)%></span></div>
<p><%= link_to t(:upgrade), new_payment_url%></p>
<% end -%>
<% if client_needs_help %><div id="help_calendar"><%= t(:practitioner_show_message) %>  &quot;&lt;&quot; <%= t(:sentencelink_and) %> &quot;&gt;&quot;</div><%end%>
<% content_for :sidebar_content do -%>
	<div id="contact_help" class="rounded"><%= t(:need_help)%></div>
	<div id="icons_help_title"><%= t(:icons_help_title)%>:</div>
	<div id="confirmed-icon-explain"> = <%= t(:confirmed_icon_explain)%></div>
	<div id="unconfirmed-warning-icon-explain"> = <%= t(:unconfirmed_warning_icon_explain)%></div>
<% end -%>
<%= render :partial => "practitioners/calendar", :locals => {:pro => current_pro}  %>