<% title t(:practitioner_new_title) %>

<p><%= t(:practitioner_new_message1)%> <%= link_to t(:practitioner_new_login_link), login_path %></p>

<% form_for @practitioner do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, t(:practitioner_new_first_name) %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :email, t(:practitioner_new_last_name) %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, t(:practitioner_new_email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone, t(:practitioner_new_phone) %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :country_code, t(:practitioner_country) %>:<br />
	<%= localized_country_select(:practitioner, :country_code, []) %>
  </p>
  <p>
    <%= f.label :no_cancellation_period_in_hours, t(:practitioner_new_nocancellation) %><br />
    <%= f.text_field :no_cancellation_period_in_hours, :size => "2"  %> <%= t(:practitioner_new_hours) %>
  </p>
  <p>
    <%= f.label :working_days, t(:practitioner_new_worked_days) %><br />
	<ul id="working_days_list">
	<% @days_in_week.each_with_index do |day, index| -%>
	    
    	<li><%= f.check_box "working_day_#{day}".to_sym, :checked => (index<5) %><label for="practitioner_working_day_<%=day%>"><%=day.capitalize%></label></li>
	<%end -%>
	</ul>
  </p>
  <p>
    <%= f.label :working_hours, t(:practitioner_new_working_hours) %><br />
    <%= f.text_field :working_hours %>
  </p>
  <p>
    <%= f.label t(:practitioner_new_password) %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, t(:practitioner_new_confirm_password) %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit t(:practitioner_new_register_button) %></p>
<% end %>
