<% title "Register for a free trial" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>

<% form_for @practitioner do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, "Your first name:" %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :email, "Your last name:" %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email, "Your mail address:" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone, "Your phone number:" %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :no_cancellation_period_in_hours, "No cancellation period:" %><br />
    <%= f.text_field :no_cancellation_period_in_hours, :size => "2"  %> hours
  </p>
  <p>
    <%= f.label :working_hours, "What days do you work?" %><br />
	<ul>
	<% @days_in_week.each_with_index do |day, index| -%>
    	<li><%= f.check_box "working_day_#{day}".to_sym, :checked => (index<5) %><%=day%></li>
	<%end -%>
	</ul>
  </p>
  <p>
    <%= f.label :working_hours, "What are your working hours? (please use 24 hour times. For instance, if you work from 8am to 12pm, and then from 1pm to 6pm, enter below: 8-12,13-18)" %><br />
    <%= f.text_field :working_hours %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Register" %></p>
<% end %>
