<% javascript "calendar"%>
<% use_calendar %>
<% if !@current_pro.nil? && @current_pro.test_user? -%>
<%= t(:test_user)%> (<%= link_to t(:upgrade), new_payment_url%>)
<% end -%>
<% if client_needs_help %><div id="help_calendar"><%= t(:practitioner_show_message) %>  &quot;&lt;&quot; <%= t(:sentencelink_and) %> &quot;&gt;&quot;</div><%end%>
<%= render :partial => "calendar", :locals => {:pro => @current_selected_pro || current_pro, :client => @current_selected_pro || current_client  }  %>
