<% title t(:reminders_title)%>
<p><%= link_to(t(:sent_reminders_title), index_past_reminders_url)%></p>
<ul id="reminders_list">
<% if @reminders.empty? -%>
<%= t(:no_reminders) %>
<% else -%>
<%= will_paginate @reminders %>
<% @reminders.each do |r| -%>
	<li class="<%=cycle('odd', 'even')%>"><%= t(:future_reminder, :name => r.booking.client.name, :datetime =>  r.booking.start_date_and_time_str) %></li>
<% end -%>
<%= will_paginate @reminders %>
<% end -%>
</ul>