<% form_for @booking do |booking_form| %>
  <%= booking_form.error_messages %>
  <p>
    <%= booking_form.label :starts_at %><br />
    <%= booking_form.datetime_select :starts_at %>
  </p>
  <p>
    <%= booking_form.label :ends_at %><br />
    <%= booking_form.datetime_select :ends_at %>
  </p>
  <p>
	<% booking_form.fields_for%>
    <%= booking_form.label :client_id %><br />
    <%= booking_form.text_field :client_id %>
  </p>
  <p><%= booking_form.submit "Submit" %></p>
<% end %>
