<% title "Bookings" %>
<table>
  <tr>
    <th>Starts At</th>
    <th>Ends At</th>
    <th>Client</th>
  </tr>
  <% for booking in @bookings %>
    <tr>
      <td><%=h booking.starts_at %></td>
      <td><%=h booking.ends_at %></td>
      <td><%=h booking.client_id %></td>
      <td><%= link_to "Show", booking %></td>
      <td><%= link_to "Edit", edit_booking_path(booking) %></td>
      <td><%= link_to "Destroy", booking, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Booking", new_booking_path %></p>
