<% title "Booking" %>

<p>
  <strong>Starts At:</strong>
  <%=h @booking.starts_at %>
</p>
<p>
  <strong>Ends At:</strong>
  <%=h @booking.ends_at %>
</p>
<p>
  <strong>Client:</strong>
  <%=h @booking.client_id %>
</p>

<p>
  <%= link_to "Edit", edit_booking_path(@booking) %> |
  <%= link_to "Destroy", @booking, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", bookings_path %>
</p>
