<% form_for @client do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :email, "Your email address:" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :question, "Select a question:" %><br />
    <%= f.select :question, @questions %>
  </p>
  <p>
    <%= f.label :answer, "And, finally, answer the question:" %><br />
    <%= f.text_field :answer %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
