<% title "Step 2: identify yourself" %>
<p>Please enter the last 4 digits of your phone number</p>
<% form_tag client_login_url do %>
  <p>
    <%= label_tag :login, "Your email address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :phone_last4digits, "Your phone number" %><br />
    <%= @client.phone_without_last4digits %><%= text_field_tag :phone_last4digits, "", :size => 4, :maxlength => 4  %>
  </p>
  <p><%= link_to "My phone number has changed!", change_phone_path %></p>
  <p><%= submit_tag "Book an appointment >" %></p>
<% end %>
