<% title "Step 2: your phone number" %>

<% form_for @client do |f| %>
 <%= f.error_messages %>
  <p>Please enter your phone number</p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p id="client-phone">
     <%= f.label :phone, "Your phone number (preferably a mobile number):" %><br />
     <%= f.select :phone_prefix, @phone_prefixes %><%= f.text_field :phone_suffix, :size => 10, :maxlength => 10   %>
   </p>
  <p><%= f.submit "Book an appointment >" %></p>
<% end %>
