<% title "Step 2: your phone number" %>
<% javascript "new-client"%>

<% form_for @client do |f| %>
 <%= f.error_messages %>
  <p>Please enter your phone number</p>
  <p>
    Your email address: <%= @client.email %> (<%= link_to "change", lookup_form_url%>)
  </p>
  <p id="client-phone">
     <%= f.label :phone, "Your phone number (preferably a mobile number):" %><br />
     <%= f.select :phone_prefix, @phone_prefixes %><%= f.text_field :phone_suffix, :size => 10, :maxlength => 10   %>
   </p>
  <p><%= f.submit "Book an appointment >" %></p>
<% end %>
