<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || APP_CONFIG[:site_name]) %></title>
	<link rel="SHORTCUT ICON" href="/images/favicon.ico"/>
	<% if RAILS_ENV == "production"-%>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js'></script>
	<% else -%>
	<%= javascript_include_tag 'jquery-1.4.2.min' %>
	<%= javascript_include_tag 'jquery-ui-1.8.min' %>
	<% end -%>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'jquery-ui.css' %>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag 'jquery.corners.min' %>
	<%= javascript_include_tag 'jquery-validate-1.5.1.min'%>
	<%= javascript_include_tag 'i18n.js' %>
	<%= javascript_include_tag 'locales/messages.js' %>
	<%= yield :calendar %>
	<%= yield :js %>
	<%= yield :js_country_select %>
	<%= yield :css %>
    <%= yield(:head) %>
  </head>
  <body>
	<div class="header">
		<div id="logo"><%= link_to image_tag("colibri_text.png", :height => "50"), root_url %></div>
		<div class="container">
			<div id="general-public-links"><% if pro_logged_in?-%>
				<%= link_to t(:home_calendar_tab), practitioner_url(current_pro.permalink), :class => selected_tab_classes(@selected_tab, "calendar")%>
			<% end -%>
			</div>	
			<% if client_logged_in?-%>
				<%= render :partial => "clients/login_info" %>
			<% else -%>
				<%= link_to t(:home), root_url, :class => "link"%>
			<% end %>
			
			<div id="pro-links">
				<% if pro_logged_in?-%>
				<%= render :partial => "practitioners/login_info" %>
				<% else -%>
					<% if !@current_selected_pro.nil? -%>
					<%= render :partial => "practitioners/selected_pro_info"  %>
					<%else -%>
						<span><%= t(:header_health_pro) %>:</span>
						<%= link_to t(:login), login_url, :class => "link"%>
					<%end -%>
				<% end -%>
			</div>
		</div>
	</div>
	<div class="cleaner"></div>
	<div id="country_select"><%= yield :country_select %></div>
	<div id="content">
	  <div class="cleaner"></div>
	  <div id="flash">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      </div>
	  <div id="container-center" class="rounded">
	      <%- if show_title? -%>
	        <h1><%=h yield(:title) %></h1>
	      <%- end -%>
      	  <%= yield %>
	  </div>
	</div>
  </body>
</html>
